<!-- profile.html -->

<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profilo Amministratore - SoulCity</title>
    <link rel="stylesheet" href="/statics/styles/styles_admin_profile.css">
</head>
<body>
    <header>
        <h1>Profilo Amministratore dentro statics</h1>
    </header>
    <section class="profile-container">
        <div class="profile-info">
            <img src="/statics/images/admin_avatar.jpg" alt="Avatar Amministratore">
            <h2>Nome </h2>
            <p>Azienda: SoulCity</p>
            <p>Ruolo: Amministratore</p>
        </div>
        <div class="company-info">
            <h2>SoulCity</h2>
            <p>Indirizzo: Via del Sole, 123</p>
            <p>Città: Metropolis</p>
            <p>Email: info@soulcity.com</p>
            <p>Telefono: 123-456-7890</p>
        </div>
    </section>
</body>
</html>
