<!-- components/header/header.component.html -->

<mat-toolbar color="primary">
    <span>SoulCity</span>
    <span class="spacer"></span>
    <button mat-button routerLink="/">Home</button>
    <button mat-button routerLink="/about">About</button>
    <button mat-button routerLink="/contact">Contact</button>
    <button mat-button routerLink="/error">Error</button>
    <button mat-button routerLink="/product">Product</button>
    <button mat-button routerLink="/kart">Kart</button>
    <button mat-button routerLink="/pay">Pay</button>
    <button mat-button routerLink="/profile">Profile</button>
    <button mat-button routerLink="/user_management">User Management</button>
  
    <!-- Aggiungi il componente per la barra di ricerca -->
    <app-search-bar></app-search-bar>
    
  </mat-toolbar>
  