<!-- components/registration/registration.component.html -->
<p>       REGISTRAZIONE</p>

<form>
    <mat-form-field>
      <input matInput placeholder="Username" type="text">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Email" type="email">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Phone Number" type="tel">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Password" type="password">
    </mat-form-field>
    <button mat-raised-button color="primary">Register</button>
  </form>
  