/* styles_admin_profile.css */

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
}

.profile-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 2em;
}

.profile-info, .company-info {
    background-color: #fff;
    padding: 1em;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

img {
    width: 100px;
    border-radius: 50%;
}

h2 {
    color: #333;
}

p {
    color: #666;
    margin: 0.5em 0;
}
