# requirements.txt

fastapi==0.68.0
greenlet==3.0.0
kafka-python==2.0.2
pydantic==1.10.13
SQLAlchemy==1.4.22
sqlalchemy2-stubs==0.0.2a35
sqlmodel==0.0.7
starlette==0.14.2
typing_extensions==4.8.0
websockets==10.0
jwt